.tableHeader{
  background-color:darkmagenta;
  
}

.table{
  border-style: groove;
  border-color:blue;
  border: inline style 3px; 
  width:fit-content;
  margin: 15%;
  padding-right: 1%;

}
.delete:hover {
  background-color: whitesmoke;
  display: inline-block;
  color:darkred;
  border: 4pc double cccccc;
}

